
body {
    
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Abel', sans-serif;
    background-color: white;
}

main {
    margin-bottom: calc(var(--footer-height));
}

section {
    width: 1000px;
    max-width: 80%;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 2px rgb(224, 165, 64);
}

#rules-of-the-game {
    display: grid;
    font-size: 28px;
    text-align: right;
    border-radius:  25%; 
}


header {
    display: flex;
    justify-content: center;
    margin: 5% 0% 5% 5%;
    background-color: var(--color3);
    height: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: right;
}

.rps{
    margin: 5px 50px 10px 40px;
    height: 200px; 
}

span {
    display: grid;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    text-align: right;
    color:rgb(224, 165, 64);
}

button {
    height: 40px;
    width: 60%;
    display: grid;
    margin: 40px 0px 40px 0px;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    background-color: white;
    border-color: rgb(224, 165, 64);
}

input {
    display: none;
}

input:checked + img {
    border: solid 5px turquoise;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}


#current-throw {
    font-size: 34px;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

input[type="radio"]:checked {
    transform: scale(2);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }